@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,500,600';
@import 'https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900';
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 30px;
    /* Margin bottom by footer height */
    margin-bottom: 150px;
}
.zero {
    margin: 0;
    padding: 0;
}
.footer {
    position: absolute;
    bottom: 0;
    padding: 15px 0 0;
    width: 100%;
    border-top: 5px solid #E92A6F;
    /* Set the fixed height of the footer here */
    /*            max-height: 185px;*/
    background-color: #25AAE3;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    -webkit-box-shadow: 0px -2px 8px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -2px 8px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -2px 8px 2px rgba(0, 0, 0, 0.2);
}
.footer .logo {
    max-height: 65px;
    margin-bottom: 10px;
}
.socials p {
    color: #fff;
    font-size: 1.2em;
    margin: 0;
}
.footer address {
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}
p.copyright {
    /*            background: #E92A6F;*/
    color: #fff;
    margin: 0;
    padding: 0 0 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
}
.print {
    border: 1px solid red;
}
.raleway {
    font-family: 'Raleway', sans-serif;
}

/*        estilos textos y etiquetas basicas*/

h1.titulo {
    color: #25AAE3;
    text-align: center;
    margin: 30px 0;
    font-size: 2.3em;
    padding: 0;
    vertical-align: middle;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
h1.titulo span {
    background-color: #fff;
    padding: 0 20px;
}
h1.titulo.decor {
    background-image: url(../img/magenta.png);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 25px 0 !important;
}
p.parrafo {
    font-size: 1.32em;
    line-height: 1.7em;
    vertical-align: middle;
    color: #4d4d4d;
    margin-bottom: 0;
    font-weight: 100;
    font-family: 'Merriweather', serif;
}
.color-cyan {
    color: #25AAE3 !important;
}
.logo {
    display: block;
    text-align: center;
}
.logo img {
    max-height: 100px;
    margin: 0;
}
.menu {
    margin: 0;
    padding: 0;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.4em;
    display: block;
    font-family: 'Raleway', sans-serif;
}
.menu a {
    float: left;
    padding: 10px 15px;
    border: solid #E92A6F;
    color: #25AAE3;
    border-bottom: solid transparent;
    border-width: 0 1px 2px 0;
    line-height: 1.4em;
    height: auto;
    display: block;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: inherit;
}
.menu a:last-child {
    border-width: 0 0 2px 0;
}
.menu a:last-child {
    border-width: 0 0 2px 0;
}
.menu a:hover {
    border-bottom-color: #25AAE3;
}
.menu a.borde-magenta:hover {
    border-bottom-color: #E92A6F;
}
.menu a.current {
    border-bottom-color: #25AAE3;
}
.menu a.borde-magenta.current {
    border-bottom-color: #E92A6F;
}

/*estilo carusel*/

.carousel {
    height: 400px;
    margin-top: 15px;
}
.carousel-cell {
    width: 100%;
    height: 100%
}
.carousel-cell img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.carousel-cell h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    z-index: 10000;
    color: #fff;
    position: absolute;
    bottom: 30px;
    right: 0;
    display: block;
    font-size: 2em;
    padding: 10px 10px 15px 15px;
    background: #E92A6F;
    -webkit-box-shadow: inset 5px -5px 0px 0px rgba(37, 170, 227, 1);
    -moz-box-shadow: inset 5px -5px 0px 0px rgba(37, 170, 227, 1);
    box-shadow: inset 5px -5px 0px 0px rgba(37, 170, 227, 1);
    border-radius: 3px 0 0 3px;
    max-width: 450px;
}
.vertical-align {
    display: flex;
    flex-direction: row;
}
.vertical-align > [class^="vcenter col-"],
.vertical-align > [class*=" vcenter col-"] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media (max-width: 767px) {
    .row.vertical-align {
        display: block;
    }
}

/*******************
******nosotros*******
*******************/

.contenedor-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.valores {
    width: 33.3%;
    margin: auto;
    /* Magic! */
    text-align: center;
    padding: 5px;
}
.valores p {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    color: #25AAE3;
    font-size: 1.6em;
    font-weight: 600;
    vertical-align: middle;
    /*    border: 1px solid;*/
    padding: 5px;
}
.valores img {
    width: 120px;
    height: 120px;
    margin: auto;
}

/*******************
******noticias******
*******************/

.noticia img {
    margin: auto;
    height: 130px;
    width: 130px;
    display: block;
    object-fit: cover;
    border: 2px #fff solid;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.44);
}
a.titulo h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin: 5px 0 0;
    color: #25AAE3;
}
a.titulo:hover {
    text-decoration: none;
}
a.more {
    color: #E92A6F;
    font-weight: 400;
}
.noticia p {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    color: #4d4d4d;
    font-size: 1.2em;
    font-weight: lighter;
}

/*******************
*****como ayudar****
*******************/

.donativo {
    display: block;
    text-align: center;
}
.donativo:hover,
.donativo:focus {
    text-decoration: none;
}
.donativo * {
    transition: all 0.3s ease;
}
.donativo img {
    width: 100%;
    max-width: 300px;
}
.donativo h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #25AAE3;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid 2px transparent;
}
.donativo h2.magenta {
    color: #E92A6F;
}
.donativo:hover h2 {
    border-bottom: solid 2px #E92A6F;
}
.donativo:hover h2.magenta {
    border-bottom: solid 2px #25AAE3;
}

/*******************
******galeria*******
*******************/

.gal-link {
    color: #25AAE3;
    font-size: 1.4em;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    transition: all 0.3s ease;
    border-bottom: solid 2px transparent;
}
.gal-link:hover,
.gal-link:focus {
    text-decoration: none;
    color: #25AAE3;
    border-color: #E92A6F;
}
.folder-g {
    display: block;
    padding: 0 10px;
}
.folder-g * {
    transition: all 0.3s ease;
}
.folder-g:hover,
.folder-g:focus {
    text-decoration: none;
}
.folder-g h2 {
    color: #000;
    font-size: 1.5em;
    color: #E92A6F;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.folder-g img {
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    height: 200px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border: solid 4px #fff;
}
.folder-g:hover img {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border-color: #25AAE3;
}
.folder-g:hover h2 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.gal {
    padding: 8px;
}
.gal * {
    transition: all 0.3s ease;
}
.gal img {
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    height: 200px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border: solid 4px #fff;
}
.gal:hover img {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border-color: #25AAE3;
}
.btn-gal,
.btn-gal:focus {
    background: #25AAE3;
}
.btn-gal:hover {
    background: #2086c6;
}
.btn-gal:active {
    background: #2086c6 !important;
}

/*******************
******contacto******
*******************/

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    border: solid 2px #E92A6F !important;
    border-radius: 3px;
}

/*******************
*****publicacion****
*******************/

.publicacion {
    padding: 0 10px;
}
.publicacion h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #25AAE3;
    margin: 0;
    font-size: 3em;
    text-align: center;
    text-transform: capitalize;
    margin-top: 15px;
}
.publicacion h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #E92A6F;
    font-size: 1.2em;
    text-align: center;
}
.publicacion h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #E92A6F;
    font-size: 1.8em;
    text-align: center;
}
.publicacion .img-header {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.publicacion p {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    color: #4d4d4d;
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0 auto 15px;
}

/*******************
*******videos*******
*******************/

h2.titulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2.1em;
    margin: 15px 0;
    color: #25AAE3;
}

/*******************
*******Modales******
*******************/

.modal-content {
    border-radius: 4px;
}
.help-head {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    color: #E92A6F;
    text-align: center;
    border-bottom: solid 3px #25AAE3;
    padding: 10px;
}
.help-body {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    color: #4d4d4d;
    font-size: 1.2em;
    font-weight: 100;
    padding: 15px;
}
.close {
    color: #E92A6F;
    opacity: 0.5;
    font-size: 1.2em;
    transition: all 0.3s ease;
}
.close:hover,
.close:focus {
    color: #E92A6F;
    opacity: 1
}

/*******************
******Formulario****
*******************/

.form-manitas {}
.form-manitas * {
    font-family: 'Raleway', sans-serif;
}
.form-manitas label {
    color: #E92A6F;
}
.form-manitas input,
.form-manitas textarea {
    border-color: #25AAE3;
    border-radius: 2px;
}
