/************************************
Mars one Color Palette
#941600	(148,22,0)
#454545	(0,0,0)
#ad0000	(173,0,0)
#ef1501	(239,21,1)
#cccccc	(204,204,204)
************************************/

@import url('https://fonts.googleapis.com/css?family=Jockey+One');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700');
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
    font-weight: 400;
    font-family: 'Dosis', serif;
}

.zero {
    margin: 0;
    padding: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 10px 0 10px;
    width: 100%;
    background-color: #454545;
    color: #fff;
    font-weight: 400;
    font-family: 'Dosis', serif;
    text-align: center;
}

.copyright {
    font-size: 1.3em;
}

.print {
    border: 1px solid red;
}


/*        estilos textos y etiquetas basicas*/

h1.titulo {
    color: #454545;
    text-align: center;
    font-size: 2.1em;
    line-height: 1.2em;
    vertical-align: middle;
    font-weight: 400;
    margin:15px 0 30px;
    font-family: 'Jockey One', sans-serif;
    display: block;
    border-bottom: solid 3px #ef1501;
}

p.parrafo {
    font-size: 1.32em;
    line-height: 1.7em;
    vertical-align: middle;
    color: #4d4d4d;
    margin-bottom: 0;
    font-weight: 400;
    font-family: 'Dosis', serif;
}


/*menu*/

.info-bar {
    height: 35px;
    background: #ef1501;
}

.info-bar p {
    color: #fff;
    line-height: 35px;
    vertical-align: middle;
    margin: 0 10px;
    font-weight: 600;
}

.info-bar a {
    color: #fff;
    margin-right: 15px;
}

.info-bar a:last-child {
    margin-right: 0;
}

.navbar {
    z-index: 9999;
}

.navbar-style {
    background-color: transparent;
    height: 80px;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 30px;
}

.navbar-logo {
    height: 80px;
}

.navbar-style .navbar-nav>li>a {
    padding: 0 0 0 0;
    line-height: 80px;
    font-weight: 400;
    color: #ef1501;
    font-size: 1.3em;
    background-color: #fff;
    transition: all 0.3s ease;
}

.navbar-style .navbar-nav>li>a:hover,
.navbar-style .navbar-nav>li>a:focus {
    color: #454545;
    background-color: #fff;
}

.navbar-style .navbar-nav>li>a:after {
    content: "-";
    margin: 10px;
    color: #454545;
}

.navbar-style .navbar-nav>li:last-child>a:after {
    content: "";
}

.navbar-style .navbar-toggle {
    height: 80px;
    color: #454545;
    margin: 0;
}

.navbar-style .navbar-toggle:hover,
.navbar-style .navbar-toggle:focus {
    background-color: #ffffff;
}

.navbar-style .navbar-toggle .icon-bar {
    background-color: #454545;
}

.navbar-style .navbar-toggle:hover .icon-bar,
.navbar-style .navbar-toggle:focus .icon-bar {
    background-color: #941600;
}


/*tablones*/

.tablon img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    object-position: 50% 0;
}

.tablon h3 {
    margin: 10px 0 5px;
    color: #454545;
    vertical-align: middle;
    font-family: 'Dosis', serif;
    font-size: 2em;
    font-weight: 400;
}

.tablon p {
    color: #454545;
    vertical-align: middle;
    font-family: 'Dosis', serif;
    font-size: 1.1em;
    font-weight: 400;
    height: 5.5em;
    line-height: 1.2em;
    overflow: scroll;
}

.tablon a {
    display: block;
    background-color: #ef1501;
    padding: 2px 0 5px;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    font-weight: 600;
}
.tablon a:hover, .tablon a:focus{
text-decoration: none;
}


/*estilo carusel*/

.carousel {
    height:300px;
}

.carousel-cell {
    width: 100%;
    height: 100%
}

.carousel-cell img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 50% 0;
}

.carousel-cell h4 {
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    z-index: 10000;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 0;
    display: block;
    font-size: 1.5em;
    padding: 10px 10px 15px 15px;
    background: #ef1501;
    -webkit-box-shadow: inset 5px -5px 0px 0px #454545;
    -moz-box-shadow: inset 5px -5px 0px 0px #454545;
    box-shadow: inset 5px -5px 0px 0px #454545;
    border-radius: 3px 0 0 3px;
    max-width: 300px;
}


/*estilo carusel proyectos*/

.carousel-proyectos {
    height: 200px;
}

.proyecto-cell {
    height: 100%;
}


.carousel-proyectos img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 50% 0;
}

.carousel-proyectos h4 {
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    z-index: 10000;
    color: #fff;
    position: absolute;
    bottom: 30px;
    display: block;
    font-size: 2em;
    padding: 10px 10px 15px 15px;
    background: #ef1501;
    -webkit-box-shadow: inset 5px -5px 0px 0px #454545;
    -moz-box-shadow: inset 5px -5px 0px 0px #454545;
    box-shadow: inset 5px -5px 0px 0px #454545;
    border-radius: 3px 0 0 3px;
    max-width: 450px;
}


/*******************************/

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="vcenter col-"],
.vertical-align > [class*=" vcenter col-"] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .row.vertical-align {
        display: block;
    }
}


/*******************
******nosotros*******
*******************/

.contenedor-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.valores {
    width: 33.3%;
    margin: auto;
    /* Magic! */
    text-align: center;
    padding: 5px;
}

.valores p {
    text-align: center;
    font-family: 'Dosis', serif;
    font-weight: bolder;
    color: #454545;
    font-size: 1.6em;
    font-weight: 600;
    vertical-align: middle;
    /*    border: 1px solid;*/
    padding: 5px;
}

.valores img {
    width: 120px;
    height: 120px;
    margin: auto;
}


/*******************
******noticias******
*******************/

.noticia img {
    margin: auto;
    display: block;
    width: 130px;
    height: 130px;
    object-fit: cover;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.44);
}

.noticia h2 {
    margin: 0;
}

.noticia h2 a {
    font-family: 'Dosis', serif;
    font-weight: 400;
    font-size: 1em;
    color: #ef1501;
    margin: 0;
}

.noticia h2 a:hover {
    text-decoration: none;
}

a.more {
    color: #ef1501;
    font-weight: 400;
}

.noticia p {
    font-family: 'Dosis', serif;
    font-weight: 400;
    color: #4d4d4d;
    font-size: 1.3em;
}


/*******************
*****como ayudar****
*******************/

.donativo {
    display: block;
    text-align: center;
}

.donativo:hover,
.donativo:focus {
    text-decoration: none;
}

.donativo * {
    transition: all 0.3s ease;
}

.donativo img {
    width: 100%;
    max-width: 300px;
}

.donativo h2 {
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    color: #454545;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid 2px transparent;
}

.donativo h2.magenta {
    color: #ef1501;
}

.donativo:hover h2 {
    border-bottom: solid 2px #ef1501;
}

.donativo:hover h2.magenta {
    border-bottom: solid 2px #454545;
}


/*******************
******galeria*******
*******************/

.gal-link {
    color: #454545;
    font-size: 1.4em;
    vertical-align: middle;
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    text-align: center;
    transition: all 0.3s ease;
    border-bottom: solid 2px transparent;
}

.gal-link:hover,
.gal-link:focus {
    text-decoration: none;
    color: #454545;
    border-color: #ef1501;
}

.folder-g {
    display: block;
    padding: 0 10px;
}

.folder-g * {
    transition: all 0.3s ease;
}

.folder-g:hover,
.folder-g:focus {
    text-decoration: none;
}

.folder-g h2 {
    color: #000;
    font-size: 1.5em;
    color: #ef1501;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-family: 'Jockey One', sans-serif;
}

.folder-g img {
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    height: 200px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border: solid 4px #fff;
}

.folder-g:hover img {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border-color: #454545;
}

.folder-g:hover h2 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.gal {
    padding: 8px;
}

.gal * {
    transition: all 0.3s ease;
}

.gal img {
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    height: 200px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border: solid 4px #fff;
}

.gal:hover img {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    border-color: #454545;
}

.btn-gal,
.btn-gal:focus {
    background: #ef1501;
}

.btn-gal:hover {
    background: #ef1501;
}

.btn-gal:active {
    background: #c31000 !important;
}


/*******************
******contacto******
*******************/

.google-maps {
    position: relative;
    padding-bottom: 45%;
    /*This is the aspect ratio*/
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    border: solid 1px #454545 !important;
}


/*******************
*****publicacion****
*******************/
.cabezera{
    height: 30em;
    width: 100%;
    position: relative;
}
.cabezera .titulo{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999999;
    background: rgba(239, 21, 1, 0.68);
    
}
.cabezera .titulo h1 {
    font-family: 'Jockey One', sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 3em;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}

.cabezera h4 {
    font-family: 'Jockey One', sans-serif;
    font-weight: 100;
    color: #ef1501;
    font-size: 1.2em;
    text-align: center;
}

.cabezera img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.publicacion p {
    font-family: 'Dosis', serif;
    font-weight: 100;
    color: #4d4d4d;
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0 auto 15px;
}

.publicacion h3 {
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    color: #ef1501;
    font-size: 1.8em;
    text-align: center;
}
.publicacion {
    padding: 0 10px;
}

/*******************
*******videos*******
*******************/

h2.titulo {
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    font-size: 2.1em;
    margin: 15px 0;
    color: #454545;
}


/*******************
*******Modales******
*******************/

.modal-content {
    border-radius: 4px;
}

.help-head {
    font-family: 'Jockey One', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    color: #ef1501;
    text-align: center;
    border-bottom: solid 3px #454545;
    padding: 10px;
}

.help-body {
    font-family: 'Dosis', serif;
    font-weight: 100;
    color: #4d4d4d;
    font-size: 1.2em;
    font-weight: 100;
    padding: 15px;
}

.close {
    color: #ef1501;
    opacity: 0.5;
    font-size: 1.2em;
    transition: all 0.3s ease;
}

.close:hover,
.close:focus {
    color: #ef1501;
    opacity: 1
}


/*******************
******Formulario****
*******************/

.form-manitas label {
    color: #ef1501;
    font-family: 'Jockey One', sans-serif;
    font-size: 1.2em;
}

.form-manitas input,
.form-manitas textarea {
    color: #000;
    font-size: 1.1em;
    border-radius: 2px;
    border: solid 1px #454545;
}

.adress-style {
    margin-top: 15px;
    font-size: 1.2em;
}

.adress-style strong {
    color: #ef1501;
}

.miembro h5 {
    font-size: 1.3em;
    font-weight: 600;
    margin: 15px 0 5px;
}

.miembro p {
    margin: 0;
    color: #ef1501;
    font-weight: 600;
}

.miembro p small {
    color: #454545;
    font-weight: 400;
}

.miembro .foto {
    border-radius: 1000px;
    width: 100px;
    height: 100px;
    float: left;
    margin: 0 10px 10px;
    background-size: 100px 100px;
    background-position: top left;
    background-repeat: no-repeat;
    border: none;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.35), inset 0 0 0 2px rgba(255, 255, 255, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.45), inset 0 -2px 0 0 rgba(255, 255, 255, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.convenios {
    font-size: 1.2em;
    font-family: 'Dosis', serif;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #a0a0a0, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #a0a0a0, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #a0a0a0, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #a0a0a0, #f0f0f0);
}

.curso{
    margin-bottom:25px;
}
.curso img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.curso:hover, .curso:focus{
    text-decoration: none    
}
.curso h4{
    background: #ef1501;
    font-size: 1.2em;
    margin: 0;
    color:#fff;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
    max-height: 3em;
}
.ott img{
    margin: 0 10px;
}