@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,500,600';
@import 'https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900';
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 30px;
    /* Margin bottom by footer height */
    margin-bottom: 235px;
}
.footer {
    position: absolute;
    bottom: 0;
    padding: 15px 0 0;
    width: 100%;
    border-top: 5px solid #E92A6F;
    /* Set the fixed height of the footer here */
    /*            max-height: 185px;*/
    background-color: #25AAE3;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    -webkit-box-shadow: 0px -2px 8px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -2px 8px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -2px 8px 2px rgba(0, 0, 0, 0.2);
}
.footer .logo {
    max-height: 65px;
    margin-bottom: 10px;
}
.socials p {
    color: #fff;
    font-size: 1.2em;
    margin: 0;
}
.footer address {
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}
p.copyright {
    /*            background: #E92A6F;*/
    color: #fff;
    margin: 0;
    padding: 0 0 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
}
.print {
    border: 1px solid red;
}
.raleway {
    font-family: 'Raleway', sans-serif;
}

/*        estilos textos y etiquetas basicas*/

h1.titulo {
    color: #25AAE3;
    text-align: center;
    margin: 30px 0;
    font-size: 2.3em;
    padding: 0;
    vertical-align: middle;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
h1.titulo span {
    background-color: #fff;
    padding: 0 20px;
}
h1.titulo.decor {
    background-image: url(../img/magenta.png);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 25px 0 !important;
}
.footer h1.titulo {
    color: #fff;
    margin: 8px auto 10px;
    font-size: 2em;
    font-weight: 100;
}
p.parrafo {
    font-size: 1.32em;
    line-height: 1.7em;
    vertical-align: middle;
    color: #4d4d4d;
    margin-bottom: 0;
    font-weight: 100;
    font-family: 'Merriweather', serif;
}
.color-cyan {
    color: #25AAE3 !important;
}

/*estilo menu*/

.menu {
    height: 120px;
}
.menu img {
    max-height: 100px;
    margin: 10px auto;
    padding: 0;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
    font-size: 1.4em;
    display: block;
    font-family: 'Raleway', sans-serif;
}
.menu li {
    float: left;
    padding: 10px 15px;
    border: solid #E92A6F;
    color: #25AAE3;
    border-bottom: solid transparent;
    border-width: 0 1px 2px 0;
    line-height: 1.4em;
    height: auto;
    display: block;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    transition: border 0.3s ease;
    cursor: pointer;
}
.menu li:last-child {
    border-width: 0 0 2px 0;
}
.menu li a {
    text-decoration: none;
    color: inherit;
}
.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.border-cyan:hover {
    border-bottom: solid 2px #25AAE3 !important;
}
.border-magenta:hover {
    border-bottom: solid 2px #E92A6F !important;
}

/*estilo carusel*/

.carousel {
    height: 400px;
}
.carousel-cell {
    width: 100%;
    height: 100%
}
.carousel-cell img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.parent {
    display: table;
    table-layout: fixed;
}
.child {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

/*******************
******nosotros*******
*******************/

.contenedor-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.valores {
    width: 33.3%;
    margin: auto;
    /* Magic! */
    text-align: center;
    padding: 5px;
}
.valores p {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    color: #25AAE3;
    font-size: 1.6em;
    font-weight: 900;
    vertical-align: middle;
    /*    border: 1px solid;*/
    padding: 5px;
}
.valores img {
    width: 120px;
    height: 120px;
    margin: auto;
}

/*******************
******noticias*******
*******************/

.noticia img {
    margin: 10px auto;
}
.noticia h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #E92A6F;
    font-size: 2em;
}
.noticia p {
    font-family: 'Merriweather', serif;
    font-weight: 100;
    color: #4d4d4d;
    font-size: 1.2em;
    font-weight: lighter;
}

/*******************
******donativos*****
*******************/

.donativo img {
    margin: auto;
    min-height: 150px;
}
.circle {
    height: 300px;
    width: 300px;
    background: #25AAE3;
    border-radius: 10000px;
    margin: auto;
}
.magenta.circle {
    background: #E92A6F;
}
.donativo h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: #25AAE3;
    text-align: center;
}

/*******************
******galeria*******
*******************/

.folder-g h2 {
    color: #000;
    font-size: 1.5em;
    color: #E92A6F;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.folder-g img {
    border-radius: 5px;
    margin: auto;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.44);
    border: solid 4px #fff;
}

/*******************
******contacto*******
*******************/

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.form-group label,
input,
button {
    font-family: 'Raleway', sans-serif;
}
